<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">
<div class="main_page">
  <!-- header -->
  <div class="header">
    <div class="title">
      <h1>&numsp;NAME</h1>
    </div>
    <div class="profile-photo">
    </div>
  </div>
  <hr>
  <!-- mid body -->
  <div class="mid_body">
    <div class="side-bar">
      <h3>SKILLS</h3>
      <p>HTML / CSS / TS</p>
      <p>JavaScript</p>
      <p>MySQL</p>
      <br>
      <h3>EDUCATION</h3>
      <p>CYCU</p>
      <p>high school</p>
      <br>
      <h3>LANGUAGES</h3>
      <div class="lang-item">
        <span>Chinese</span>
        <span class="level">Native</span>
      </div>
      <div class="lang-item">
        <span>Japanese</span>
        <span class="level">N2</span>
      </div>
      <div class="lang-item">
        <span>English</span>
        <span class="level">B1</span>
      </div>
    </div>

    <div class="main-content">
      <h3>PROFILE</h3>
      <p>123</p>
      <h3>EXPERIENCE</h3>
      <p>這裡放置文本量較多的內容。因為佔了 3 份寬度，閱讀起來會非常舒適，不會像窄欄位那樣一直換行。</p>
      <h3>PROJECTS</h3>
      <p>gogoby</p>
    </div>

  </div>

  <!-- bottom body -->
  <div class="bottom_body">
    <label>test</label>
  </div>
</div>
